services:
  postgres:
    image: postgres:16-alpine
    container_name: typeforge-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: typeforge
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
